<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawDualX);

    function drawDualX() {

        var data = google.visualization.arrayToDataTable([
            ['Campaign', 'Orders', 'Sold Products', 'Visits on site'],
                ['1 Jun - 7 Jun',  16043,  35000,  599301 ],
                ['8 Jun - 14 Jun',  14743,  28721,  899301 ],
                ['15 Jun - 21 Jun',  15238,  28912,  119301 ],
                ['22 Jun - 1 Jul',  12271,  22023,  400223 ]
        ]);


        var options = {
            chart: {
                title: 'Campaign StockBusters'
            },
            vAxis: {
                title: 'Period'
            },
            bars: 'horizontal'
        };
        var material = new google.charts.Bar(document.getElementById('chart_div'));
        material.draw(data, options);
    }
    </script>
<!--Div that will hold the pie chart-->

<div id="chart_div" style="height:500"></div>